.cv__header-container-info__social {
    display: flex;
    width: 100%;
    margin: 1rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  .cv__header-container-info__social div {
    color: #fff;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    margin: 0.3rem;
    transition: all 1s ease-in !important;
    transition: all 1s ease-out !important;
  
      /* transition: color 1s ease-out; */
  
  
  }
  .cv__header-container-info__social div:hover {
    color: var(--color-navbaricon);
    -webkit-font-smoothing: antialiased;
    transition: var;
  }