#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 30px;
	background-color: rgb(100, 0, 0);
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: rgb(255, 255, 255); 
	}
}